@import 'main';
@import 'nav-menu';
body {
  background-image: url(/assets/destination/background-destination-mobile.jpg);
  #planet-photo {
    margin-top: calc(3.2rem - 1.6rem);
    margin-bottom: calc(2.6rem - 1.6rem);
    width: 20rem;
  }
}
main {
  display: grid;
  justify-items: center;
  align-content: center;
  .destination {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  h1#title {
    font-size: 5.6rem;
    line-height: normal;
  }
  #paragraph {
    @include border-bottom;
    padding: 0 0 3.2rem;
    margin: 0 clamp(2.4rem, 2rem + 5vw, 9.8rem);
  }
  .tab-menu {
    display: flex;
    gap: 2.6rem;
    .tab-item {
      @include sub-heading($primary-color, 1.5rem, 0.24rem, $secondary-color);
      text-decoration: none;
      padding: 0.8rem 0;
      border-bottom: solid 4px transparent;
      cursor: pointer;
      &:hover {
        border-color: $opacity-color;
      }
    }
    .tab-item.tab-item-select {
      border-color: $white-color;
    }
  }

  #sub-headings {
    margin: 3.2rem 0 5.8rem 0;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    .sub-heading-item {
      text-align: center;
    }
  }
  .sub1 {
    @include sub-heading($font-primary, 1.4rem, 0.24rem, $secondary-color);
    margin-bottom: 1.2rem;
  }
  .sub2 {
    @include sub-heading($font-heading, 2.8rem, normal, $white-color);
  }
}
@media (min-width: 550px) {
  body {
    background-image: url(/assets/destination/background-destination-tablet.jpg);
  }
  main {
    .sub-heading {
      justify-self: flex-start;
      letter-spacing: 0.34rem;
    }
    img#planet-photo {
      width: 30rem;
      margin-top: calc(6rem - 1.6rem);
      margin-bottom: calc(5.3rem - 1.6rem);
    }
    .tab-menu .tab-item {
      font-size: 1.6rem;
      letter-spacing: 0.27rem;
    }
    h1#title {
      font-size: 8rem;
    }
    #sub-headings {
      flex-direction: row;
      margin: 2.8rem;
    }
    #paragraph {
      // width: clamp(35rem,19rem + 30vw,55rem);
      width: 78%;
      font-size: 1.6rem;
      line-height: 2.8rem;
    }
  }
}
@media (min-width: 900px) {
  body {
    background-image: url(/assets/destination/background-destination-desktop.jpg);
  }
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    margin: 3rem 10rem 0;
    .destination {
      align-items: flex-start;
      margin-left: 5vw;
    }
    h1#title {
      font-size: 9rem;
    }
    img#planet-photo {
      margin-top: 4rem;
      width: 30vw;
    }
    #paragraph {
      width: initial;
      text-align: left;
      margin: 0;
      line-height: 3.2rem;
      font-size: 1.8rem;
    }
    h5.sub-heading {
      grid-column: 1 / span 3;
      margin: 0;
    }
    #sub-headings {
      gap: 6rem;
      margin: 2.8rem 0;
      .sub-heading-item {
        text-align: left;
      }
    }
  }
}
