@import 'main';
@import 'nav-menu';

body {
  background-image: url($bg-tech-s);
}
main {
  display: grid;
  grid-template-areas:
    'a'
    'b'
    'c'
    'd';
  place-items: center;
  #tech-img {
    background-color: $white-color;
    background-image: url($tech-launch-vehicle-land);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    max-width: 76.8rem;
    margin-top: 3.4rem;
    margin-bottom: 3.2rem;
  }
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .subtitle {
      @include sub-heading($font-primary, 1.4rem, 0.27rem, $secondary-color);
      margin-bottom: 0.6rem;
    }
    .main-title {
      @include heading($font-heading, 2.4rem);
      margin-bottom: 1.6rem;
    }
    .paragraph {
      margin: 0 clamp(2.4rem, 2rem + 5vw, 9.8rem) 5rem;
    }
  }
}

.bullet-nav {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 2.6rem;
  div {
    display: flex;
    text-decoration: none;
    background-color: transparent;
    color: $gray-color;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    align-items: center;
    border: solid 2px $opacity-color;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s;
    span {
      @include sub-heading($font-heading, 1.6rem, 0.1rem, $white-color);
    }
  }
  div:hover {
    border-color: $white-color;
  }

  div.select-bullet {
    background-color: $white-color;
    span {
      color: $primary-color;
    }
  }
}
@media (min-width: 550px) {
  body {
    background-image: url($bg-tech-m);
  }
  main {
    .about {
      .subtitle {
        font-size: 1.6rem;
      }
      .main-title {
        font-size: 4rem;
      }
      .paragraph {
        font-size: 1.6rem;
        width: clamp(35rem, 19rem + 30vw, 55rem);
      }
      .sub-heading {
        justify-self: left;
      }
    }
    #tech-img {
      height: 250px;
    }
  }
}
@media (min-width: 900px) {
  body {
    background-image: url($bg-tech-l);
  }
  main {
    grid-template-columns: 1fr 3fr 6fr;
    margin: 3rem 0 0 10rem;
    column-gap: 0;
    grid-template-areas:
      'a a a'
      'b c d';
    .sub-heading {
      grid-column: 1 / span 4;
      justify-self: flex-start;
      font-size: 2.8rem;
      letter-spacing: 0.47rem;
    }
    h5.sub-heading{
      margin-left: 0;
    }
    .bullet-nav {
      flex-direction: column;
      margin: 0 8rem 0 0;
      div {
        width: 6rem;
        height: 6rem;
      }
    }
    .about {
      align-items: flex-start;
      .paragraph {
        text-align: left;
        padding: 0;
        margin: 0;
        max-width: 44rem;
      }
    }
    #tech-img {
      margin: 0;
      background-image: url($tech-launch-vehicle-port);
      grid-area: d;
      width: 45rem;
      height: 45rem;
      justify-self: flex-end;
    }
  }
}
